/* colors and icons for your institution */

$black: #000000;
$darkest: #00171f;
$white: #ffffff;
$darkblue: #1e1e1e;
$midblue: #007eaf;
$lightblue: #34b6e4;
$darkshade: #8996A0;
$shade: #BAC5C6;
$lightshade: #F3F3F1;
$highlight: #f7d309;
$dark_against_shade: #black;  /* for contrast against lightshade */
/* this is where you can change colors for your institution */

$primary-color: $black;
$secondary-color: $black;
$accent-color: $black;
$border-accent: $darkblue;
$border: $shade;
$image-background: $shade;
$row-background: #f3f3f1;
$button-background: $lightblue;
$alt-button-background: $lightshade;
$alt-button-color: $darkshade;
$light-neutral: $lightshade;
$breadcrumb-link: $darkblue;

/* this is for the top horizontal nav bar */
$nvBgDefault      : $light-neutral;
$nvBgHighlight    : $light-neutral;
$nvColDefault     : $dark_against_shade;
$nvColHighlight   : $border-accent;



$collection-color: $black;
$subject-color: $black;
$container-color: $black;
$agent-color: $black;
$record-color: $black;
$repository-color: $black;
$classification-color: $black;
$accession-color: $collection-color;
$digital-object-color: $collection-color;
$archival-object-color: $black;
$folder-color: $black;



