
@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/Source_Sans_Pro/SourceSansPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/Source_Sans_Pro/SourceSansPro-It.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/Source_Sans_Pro/SourceSansPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/Source_Sans_Pro/SourceSansPro-BoldIt.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


/* for special sans */

@font-face {
    font-family: 'Trueno';
    src: url('/assets/Trueno/TruenoRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trueno';
    src: url('/assets/Trueno/TruenoRgIt.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno';
    src: url('/assets/Trueno/TruenoBd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno';
    src: url('/assets/Trueno/TruenoBdIt.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Lora;
    src: url('/assets/Lora/Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lora';
    src: url('/assets/Lora/Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lora';
    src: url('/assets/Lora/Lora-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



$sans-font:  "SourceSansPro", sans-serif;
$serif-font: $sans-font;  /* we only serif on special occasions */
$font-family-sans-serif: $sans-font;
$font-family-serif: "Lora", Georgia, serif;  /* we only use this for special cases */

$fi-path: "foundation-icon-fonts";

/* Bootstrap icons only */
$icon-font-path: "bootstrap-sass/";
$icon-font-name: "glyphicons-halflings-regular";
$icon-font-svg-id: "";
$bootstrap-sass-asset-helper: false;


$row-width: 100%;

$body-font-family: $sans-font;

$text-color: $black;

body {
     font-family: $sans-font;
}
