
$sans-font:  Arial, Helvetica, sans-serif;
$serif-font: Arial, Helvetica, sans-serif;  /* Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif; */
$font-family-sans-serif: $sans-font;
$font-family-serif: $sans-font;

$fi-path: "foundation-icon-fonts";

/* Bootstrap icons only */
$icon-font-path: "bootstrap-sass/";
$icon-font-name: "glyphicons-halflings-regular";
$icon-font-svg-id: "";
$bootstrap-sass-asset-helper: false;



$row-width: 100%;

$body-font-family: $sans-font;

$text-color: $darkest;