<%# interim request popup until aeon etc. is resolved %>
<div id="request_popup">
  <% key = "request.#{@request.repo_code.downcase}" %>
<%= t(key, default: t('request.default'), :repo => @request.repo_name, :email => (@request.repo_email||'').strip, :id => @aleph_id).html_safe %>
   
</div>
