<%# interim request popup until aeon etc. is resolved %>
<div id="request_popup">
  <% room = t("request_room.#{@request.repo_code.downcase}", default:'') 
     if room == ""
       key = "request.#{@request.repo_code.downcase}"
     else
       key = 'request.room'
     end
  %>
  <% idpiece = ''
     if !@alma_id.blank?
       idpiece = "alma/#{@alma_id.strip}"
     elsif !@aleph_id.blank?
       idpiece = "aleph/#{@aleph_id.strip}"
     end %>

<%= t(key, default: t('request.default'), :repo => @request.repo_name, :email => (@request.repo_email||'').strip, 
    :idpiece => idpiece, :room => room).html_safe %>
   
</div>
