<% active = (action.to_s == controller.action_name) %>
<% unless hidden && !active %>
  <div class='col-sm-4 nav-pill <% if active %>active <% elsif !enabled %> disabled<% end %>'>
  <% case action
  		 when :show
          url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}")
  		 when :infinite
          url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/collection_organization")
  		 when :inventory
          url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/inventory")
       when :digital_only
          url = app_prefix("/repositories/#{params[:rid]}/resources/#{params[:id]}/digital_only")
      end
  	%>
    <%=
      link_to_unless active || !enabled, text, url  do
        link_to_if active, text, '#', :class => "active" do
          link_to text, "#"
        end
      end
    %>
  </div>	
<% end %>
