
<% unless record.subjects.blank? %>
<div class='pbrb'>
<a id="subjects"></a>
<h2><%= I18n.t('pdf_reports.controlled_access_headings') %></h2>

<ul>
<% Array(record.subjects).each do |subject| %>
    <li><%= subject['title'] %></li>
<% end %>
</ul>
</div>
<%= render(:partial => 'return_toc') %>
<% end %>
